---

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <div class="mb-10">
            <a href="/">
                <img src="/logo3.jpg" class="rounded-lg shadow-2xl md:mx-auto" alt="">
            </a>
        </div>
        <div>
            <h2 class="mb-4 text-center text-2xl tracking-tight font-bold text-white">
                Lanzamientos de SpaceX
            </h2>
        </div>
    </div>
</header>